<section class="education" id="education">
    <div class="content-wrap-title">
        <h2>Education</h2>
    </div>
    <div class="content-wrap">
        <div class="row">
            <div class="col-narrow">
                <h3>IT Academy</h3>
                <p>January - May 2020</p>
            </div>
            <div class="col-wide">
                <ul>
                    <li>Front-End developer</li>
                    <li>MySQL, Git, HTML, CSS, JS, Bootstrap, Sass, Leaflet, JSON, Ajax, JQuery, Angular</li>
                    <li>See my projects at <a href="https://github.com/PascualHache">github.com/PascualHache</a>.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-narrow">
                <h3>Project Analysis in Management Systems</h3>
                <p>2010</p>
            </div>
            <div class="col-wide">
                <ul>
                    <li>Market research and state of art</li>
                    <li>Technical and economic analysis of real case projects</li>
                    <li>Economic valuation of the impacts associated</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-narrow">
                <h3>Industrial Technical Engineering specialty in Industrial Electronics</h3>
                <p>2006-09</p>
            </div>
            <div class="col-wide">
                <ul>
                    <li>General Studies, including C++ and Java coding</li>
                    <li>Technical and economic analysis of real case projects</li>
                    <li>Final project in Karel de Grote (Antwerp, Belgium) by Erasmus program: development of a simulation (HiL) of an ABS on different surfaces such as asphalt or ice done with Matlab</li>
                </ul>
            </div>
        </div>
    </div>
</section>