<div class="content-wrap">
    <img class="profile-img col-narrow" src="./assets/HectorPascual_Profile.jpeg" alt="Héctor Pascual">
    <div class="col-wide">
        <div class="top-title">
            <h1>Héctor Pascual</h1>
        </div>
        <h2>Web Developer & Engineer</h2>
        <p>As a developer, I specialize in creating modular and scalable front-end architectures. As an educator, I focused on creating inclusive learning environments and curriculum development. I'm also a music lover, collector and cultural developer in
            <a href="#">AMEBA</a> Instructor for GoodLife Fitness!</p>
    </div>
</div>