<div class="content-wrap-header">
    <img class="profile-img col-narrow" src="./assets/HectorPascual_Profile.jpeg" alt="Héctor Pascual">
    <div class="col-wide">
        <div class="top-title">
            <h1>Héctor Pascual</h1>
        </div>
        <h2>Web Developer & Engineer</h2>
        <p>Born and grown in Barcelona. Amazed with the technological level we are reaching and without a doubt, wanting to be part of it. I also enjoy outdoor activities and my great little passion: dig and haunt unexplored records!</p>
    </div>
</div>