.col-narrow {
    width: 25%;
    float: left;
    min-height: 175px;
}

.col-wide {
    width: 75%;
    float: left;
    padding-left: 20px;
    min-height: 175px;
}

.top-title {
    margin: 10px 0px 10px 0px;
}


/* 
h1,
h2 {
    color: #EDF2F4;
    margin: 0;
} */