<section class="work" id="Experience">
    <div class="content-wrap-title">
        <h2>Work Experience</h2>
    </div>
    <div class="content-wrap">
        <div class="row">
            <div class="col-narrow">
                <h3>Java Coding Teacher</h3>
                <p>INS La Ferreria</p>
                <p>October 2017 - August 2018</p>
            </div>

            <div class="col-wide">
                <ul>
                    <li>High-Level Technic Degree</li>
                    <li>Java coding starting from scratch with the declaration of variables, statements, functions, classes and OOP until reading and writing DBs</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-narrow">
                <h3>Test Manager</h3>
                <p>Altran España (SEAT's Technical Center)</p>
                <p>October 2015 - October 2017</p>
            </div>
            <div class="col-wide">
                <ul>
                    <li>Testmanager for the MIB2 project (SEAT&AUDI)</li>
                    <li>Complete definition of the test process, test tools, communication groups and reporting</li>
                    <li>Planning and management testing resources with a team of 15-20 validators</li>
                    <li>Report and presentation for Infotainment SEAT and A1 AUDI project</li>
                    <li>Tutor of college Final Degree Projects</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-narrow">
                <h3>SW developer</h3>
                <p>Altran España (SEAT's Technical Center)</p>
                <p>December 2011 - October 2015</p>
            </div>

            <div class="col-wide">
                <p> </p>
                <ul>
                    <li>Development of the testing tool "UTIL" (User Tester Interface Language)</li>
                    <li>Programmed in Python 2.7, CORBA and OSR libraries, OCR and audio libs</li>
                    <li>Dashboard web developed in HTML and Js</li>
                </ul>
            </div>
        </div>
    </div>
</section>