<section class="projects" id="Projects">
    <div class="content-wrap-title">
        <h2>Projects</h2>
    </div>
    <div class="content-wrap">
        <div class="row">
            <div class="col-narrow">
                <h3>Developer</h3>
                <p>Independent / Freelance</p>
                <p>January 2019 - Present</p>
            </div>

            <div class="col-wide">
                <p>To be filled after finish IT Academy</p>
                <p>See my projects at <a href="https://github.com/PascualHache">github.com/PascualHache</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-narrow">
                <h3>AMEBA</h3>
                <p>Cultural Activist</p>
                <p>May 2016 - Present</p>
            </div>
            <div class="col-wide">
                <p>Key contributions:</p>
                <ul>
                    <li>Content creator for the association</li>
                    <li>Management of workshops and activities</li>
                    <li>Producer of massive events</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-narrow">
                <h3>Lopetegui Productions</h3>
                <p>2011 - February 2018</p>
            </div>
            <div class="col-wide">
                <p>Key contributions:</p>
                <ul>
                    <li>Production, scripting and actoring</li>
                    <li>Winners of several 24-48h short film festivals</li>
                </ul>
            </div>
        </div>
    </div>
</section>